<header>
  <div class="line_up">
      <div class="container flex-between">
      <div class="line_up__item_left flex">
        <div class="line_up__item_left_i">carlospretier@gmail.com</div>
        <div class="line_up__item_left_i">dirección </div>
        <div class="line_up__item_left_i">+3455 556 5 255</div>
      </div>
      <div class="line_up__item_right flex align-center">
        <div class="line_up__item_right_s">
          <i class="gg-facebook"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-twitter"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-youtube"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container flex-between align-center">
      <div class="sub-header_logo">
        <img src="assets/img/logo/logo.svg" alt="">
      </div>
      <nav class="sub-header_menu flex align-center">
        <a href="#" class="sub-header_i">Inicio</a>
        <a href="#" class="sub-header_i">Compañia</a>
        <a href="#" class="sub-header_i">Services</a>
        <a href="#" class="sub-header_i">Elementos</a>
        <a href="#" class="sub-header_i">Contactos</a>
        <a href="#" class="sub-header_i acción">Acción</a>
      </nav>
    </div>
  </div>
</header>
<section class="section_main">
  <div class="container"></div>

</section>
<section class="section_info">
  <div class="container"></div>
</section>
<section class="section_description">
  <div class="container"></div>

</section>
<footer>
  <div class="container">

    <button>action</button>
  </div>
</footer>