<header>
  <div class="container">
    <div class="line_up">
      <div class="line_up__item_left">
        <div class="line_up__item_left_i">carlospretier@gmail.com</div>
        <div class="line_up__item_left_i">dirección </div>
        <div class="line_up__item_left_i">+3455 556 5 255</div>
      </div>
      <div class="line_up__item_right">
        <div class="line_up__item_right_s">
          <i class="gg-facebook"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-twitter"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-youtube"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container">
      <div class="sub-header_logo">
        <img src="assets/img/logo/logo.svg" alt="">
      </div>
      <div class="sub-header_menu">
        <div class="sub-header_i">Inicio</div>
        <div class="sub-header_i">Compañia</div>
        <div class="sub-header_i">Services</div>
        <div class="sub-header_i">Elementos</div>
        <div class="sub-header_i">Contactos</div>
        <div class="sub-header_i acción">Acción</div>
      </div>
    </div>
  </div>
</header>
<section class="section_main">
  <div class="container"></div>

</section>
<section class="section_info">
  <div class="container"></div>
</section>
<section class="section_description">
  <div class="container"></div>

</section>
<footer>
  <button>action</button>

</footer>