<header>
  <div class="line_up">
      <div class="container flex flex-between">
      <div class="line_up__item_left flex">
        <div class="line_up__item_left_i">carlospretier@gmail.com</div>
        <div class="line_up__item_left_i">dirección </div>
        <div class="line_up__item_left_i">+3455 556 5 255</div>
      </div>
      <div class="line_up__item_right flex align-center">
        <div class="line_up__item_right_s">
          <i class="gg-facebook"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-twitter"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-youtube"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container flex flex-between align-center">
      <div class="sub-header_logo">
        <img src="assets/img/logo/logo.svg" alt="">
      </div>
      <nav class="sub-header_menu flex align-center">
        <a href="#" class="sub-header_i">Inicio</a>
        <a href="#" class="sub-header_i">Compañia</a>
        <a href="#" class="sub-header_i">Services</a>
        <a href="#" class="sub-header_i">Elementos</a>
        <a href="#" class="sub-header_i">Contactos</a>
        <a href="#" class="sub-header_i acción">Acción</a>
      </nav>
    </div>
  </div>
</header>
<section class="section_main">
  <div class="container"></div>

</section>
<section class="section_card">
  <div class="container">
    <div class="cards_double">
      <div class="big_card flex">
        <div class="content_car">
          <h5>Carlos en punto net</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt a odit,  adipisicing elit. Nesciunt a odit,</p>
          <button class="btn_default">Aprender mas</button>
        </div>
        <div class="img_car"><img src="assets/img/icon/icon4.png" alt=""></div>
      </div>
      <div class="big_card flex">
        <div class="content_car">
          <h5>Joel con angular</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt a odit, adipisicing elit. Nesciunt a odit, </p>
          <button class="btn_default">Aprender mas</button>
        </div>
        <div class="img_car"><img src="assets/img/icon/icon3.png" alt=""></div>
      </div>

    </div>
  </div>
</section>
<section class="section_about">
  <div class="container flex">
    <div class="about_left">
      <div class="image_about">
        <img src="assets/img/resource/about1.png" alt="nosotros">
      </div>
    </div>
    <div class="about_right">
      <h4 class="flex align-center"><i class="gg-path-front"></i> Sobre los certificados</h4>
      <h2>Negocio Top de Carlos</h2>
      <h3>Busca la ficha técnica</h3>
      <div class="wrp_p">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam harum, voluptatem minima pariatur dolores vitae soluta amet, facere eaque id tenetur veniam deleniti? Sapiente rem commodi culpa aliquam beatae porro?</p>
      </div>
      <div class="wrap_cards">
        <div class="mini_card flex">
            <div class="img_mini_card"><img src="assets/img/icon/icon1.png" alt="icon"></div>
            <div class="label_mini_card">
              <h5>Sube tu ficha</h5>
              <h5>Técnica</h5>
            </div>
        </div>
        <div class="mini_card flex">
            <div class="img_mini_card "><img src="assets/img/icon/icon1.png" alt="icon"></div>
            <div class="label_mini_card">
              <h5>Sube tu ficha</h5>
              <h5>Técnica</h5>
            </div>
        </div>
      </div>
      <button class="btn flex align-center">Contáctanos <i class="gg-chevron-right-o"></i></button>
    </div>
  </div>
</section>
<section class="section_blue">
    <div class="container flex flex-between align-center">
      <div class="blue_left">
        <img src="assets/img/bg/chamo.png" alt="">
      </div>
      <div class="blue_right">
        <div class="blue_title1">Lorem ipsum dolor sit amet.</div>
        <div class="blue_title2">ALgo productivo</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic blanditiis ducimus praesentium, natus laborum tenetur accusantium vitae unde debitis quam aliquid, accusamus ipsum quasi nisi quod? Quos, minima harum?</p>
        <div class="checks flex">
          <div class="check_item flex align-center"><i class="gg-check-o"></i> <div class="label">Una propiedad del negocio</div></div>
          <div class="check_item flex align-center"><i class="gg-check-o"></i> <div class="label">Una propiedad del negocio</div></div>
          <div class="check_item flex align-center"><i class="gg-check-o"></i> <div class="label">Una propiedad del negocio</div></div>
          <div class="check_item flex align-center"><i class="gg-check-o"></i> <div class="label">Una propiedad del negocio</div></div>
        </div>
      </div>
    </div>
</section>
<section class="section_fichas">
  <div class="container">
    <h3>Caracteristicas de fichas</h3>
    <div class="wrap_fichas flex flex-between">
      <div class="item_ficha">
          <div class="icon_ficha flex">
            <div class="box flex align-center">
              <i class="gg-database"></i>
            </div>
          </div>
          <h5>Caracteristica</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore, accusantium nihil!</p>
      </div>
      <div class="item_ficha">
          <div class="icon_ficha flex">
            <div class="box flex align-center">
              <i class="gg-database"></i>
            </div>
          </div>
          <h5>Caracteristica</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore, accusantium nihil!</p>
      </div>
      <div class="item_ficha">
          <div class="icon_ficha flex">
            <div class="box flex align-center">
              <i class="gg-database"></i>
            </div>
          </div>
          <h5>Caracteristica</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore, accusantium nihil!</p>
      </div>
      <div class="item_ficha">
          <div class="icon_ficha flex">
            <div class="box flex align-center">
              <i class="gg-database"></i>
            </div>
          </div>
          <h5>Caracteristica</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore, accusantium nihil!</p>
      </div>
      
    </div>

  </div>
</section>
<section class="section_form">
  <div class="container c_form">
    <h2>Contacto</h2>
    <h3>Envíanos tu consulta</h3>
    <div class="wrap_form">
      <form action="">
        <div class="section_two flex flex-between">
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Email">
        </div>
        <div class="section_two flex flex-between">
          <input type="text" placeholder="Teléfono">
          <input type="text" placeholder="Empresa">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje..."></textarea>
      </form>
    </div>
  </div>

</section>
<footer>
  <div class="container">
      <div class="s_company">
        <div class="f_logo">
          <img src="" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus a corrupti sapiente perferendis numquam? Qui adipisci ex et illum.</p>
        <div class="social">
          <div class="title_social">Síguenos</div>
          <div class="s_media">
            <i class="gg-facebook"></i>
            <i class="gg-twitter"></i>
            <i class="gg-youtube"></i>
            <i class="gg-instagram"></i>
          </div>
        </div>
      </div>
      <div class="section_links">
        <div class="title_footer">Links</div>
        <div class="item_link"><i class="gg-arrow-long-right"></i> Inicio </div>
        <div class="item_link"><i class="gg-arrow-long-right"></i> Fichas </div>
        <div class="item_link"><i class="gg-arrow-long-right"></i> Seervicios </div>
        <div class="item_link"><i class="gg-arrow-long-right"></i> entrar </div>
        <div class="item_link"><i class="gg-arrow-long-right"></i> Contacto </div>
      </div>
      <div class="section_contact">
        <div class="title_footer">Contacto</div>
        <div class="item_contact">
          <div class="box_icon"></div>
        </div>
      </div>
  </div>
</footer>