.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1170px;
}

.line_up {
    padding: 10px 0;
    font-size: .86em;
    color: white;
    background-color: var(--cert-primary);

    .line_up__item_left {
        .line_up__item_left_i {
            margin-right: 20px;
        }
    }

    .line_up__item_right {
        .line_up__item_right_s {
            width: 14px;
            margin-left: 18px;

            i[class^="gg-"] {
                --ggs: 0.7;
            }
        }
    }
}

.sub-header {
    .sub-header_logo {
        width: 180px;
    }

    .sub-header_menu {
        height: 100px;

        a.sub-header_i {
            font-weight: 500;
            padding: 9px;

        }
    }
}

.section_about {
    margin-top: 4em;

    .about_left,
    .about_right {
        width: 50%;
    }

    .about_right {
        margin-top: 4em;

        h2 .wrp_p,
        .wrap_cards,
        button {
            margin-top: 3em;
        }
    }

    .about_left {
        margin-left: -70px;
        margin-right: 70px;
    }
}

.about_right .wrp_p {
    margin-top: 3em;

}

.wrap_cards {
    display: flex;
    justify-content: space-between;

    .mini_card {
        width: 42%;
        display: flex;
        background: var(--cert-secondary);
        border-radius: 4px;
        padding: 29px 10px 28px 30px;
        position: relative;
        position: relative;
        overflow: hidden;
        z-index: 44;

        .img_mini_card {
            width: 50px;
            margin-right: 1em;
        }

        &:hover::before {
            width: 180%;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0px;
            height: 100%;
            left: -25%;
            width: 0%;
            background: #f3e7dd;
            transform: skew(0deg);
            transition-duration: .6s;
            z-index: -1;
        }
    }
}

.section_card {
    margin-top: 4em;

    .cards_double {
        display: flex;
        justify-content: space-between;

        .big_card {
            width: 42%;
            padding: 36px 39px 42px;
            background: #E6EFFF;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            z-index: 44;
            border-radius: 9px;
            transition: all .5s;

            .content_car {
                width: 62%;

                .btn_default {
                    margin-top: 1em;
                }
            }

            .img_car {
                width: 30%;
            }

            &:hover::before {
                width: 180%;
                color: white;
            }

            &:hover {
                transform: translate3d(0, -10px, 0);
                color: white;
            }

            &:hover h5 {
                color: white;
            }

            &:hover button {
                transition: 1.4s;
                border: 1px solid white;
                background: transparent !important;
            }

            &:before {
                position: absolute;
                content: "";
                top: 0px;
                height: 100%;
                border-radius: 9px;
                left: -25%;
                width: 0%;
                background: var(--cert-primary-degrade);
                transform: skew(0deg);
                transition-duration: 1.4s;
                z-index: -1;
            }
        }
    }
}

.section_blue {
    background-image: url(../assets/img/bg/bg-section-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}