<header>
  <div class="line_up">
    <div class="container flex flex-between">
      <div class="line_up__item_left flex " #menu_top_left>
        <div class="line_up__item_left_i">carlospretier@gmail.com</div>
        <div class="line_up__item_left_i">dirección </div>
        <div class="line_up__item_left_i">+3455 556 5 255</div>
      </div>
      <div class="line_up__item_right flex align-center" #menu_top_right>
        <div class="line_up__item_right_s">
          <i class="gg-facebook"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-twitter"></i>
        </div>
        <div class="line_up__item_right_s">
          <i class="gg-youtube"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="container">

      <div class=" flex flex-between align-center order_responsive">
        <div class="sub-header_logo">
          <img src="assets/img/logo/logo.svg" alt="">
        </div>
        <nav class="sub-header_menu flex align-center" #menu>
          <a href="#" class="sub-header_i">Inicio</a>
          <a href="#" class="sub-header_i">Compañia</a>
          <a href="#" class="sub-header_i">Services</a>
          <a href="#" class="sub-header_i">Elementos</a>
          <a href="#" class="sub-header_i">Contactos</a>
          <a href="#" class="sub-header_i accion">Acción</a>
        </nav>
      </div>
    </div>
    <div class="section_menu_responsive">
      <div class="container_res">
        <div class="img_logo_white">
          <img src="assets/img/logo/logo_white.svg" alt="">
        </div>
        <div class="icon_responsive" (click)="isOpen = !isOpen"><i [ngClass]="isOpen ? 'gg-close' : 'gg-menu'"></i>
        </div>
      </div>
      <nav class="menu_responsive" *ngIf="isOpen" [@dropDownMenu]>
        <a href="#" class="sub-header_i menu-item">Inicio</a>
        <a href="#" class="sub-header_i menu-item">Compañia</a>
        <a href="#" class="sub-header_i menu-item">Services</a>
        <a href="#" class="sub-header_i menu-item">Elementos</a>
        <a href="#" class="sub-header_i menu-item">Contactos</a>
        <a href="#" class="sub-header_i menu-item">Acción</a>
      </nav>
    </div>
  </div>
</header>
<section class="section_main">
  <div class="container flex flex-between m_f_column">
    <div class="main_left">
      <span #text1>Todas las fichas en un mismo lugar</span>
      <h1 #text2>Todas las fichas técnicas de España</h1>
      <div #text3 class="label">Consulta las certificaciones por productos, consulta las certificaciones por productos
      </div>
      <div class="action_main flex">
        <button class="btn_blue" #text4>Agregar ficha</button>
        <a href="" class="flex align-center" #text5>
          <div class="icon_call"><img src="assets/img/icon/call.svg" alt=""></div>
          <div class="label_call">
            <div class="label_cl">Lláma y te explicamos</div>
            <div class="label_number">+34 565 55 56</div>
          </div>
        </a>
      </div>
      <div class="imgs box3d" #box3d><img src="assets/img/resource/box.png" alt=""></div>
    </div>
    <div class="main_right m_none">
      <div class="box">
        <div class="ficha" #ficha>
          <img src="assets/img/resource/here.png" alt="">
        </div>
        <div class="imgs arrow" #arrow><img src="assets/img/resource/line.png" alt=""></div>
        <div class="imgs img1" #img1><img src="assets/img/resource/img1.png" alt=""></div>
        <div class="imgs img2" #img2><img src="assets/img/resource/img2.png" alt=""></div>
      </div>
    </div>
  </div>
</section>

<section class="section_card" #cardSection>
  <div class="container">
    <div class="title_small center_all">
      <div class="custom_label">Un sitio con todas las fíchas técnicas</div>
    </div>
    <h3>Slogan de la empresa de <span>Carlos Pertierra</span></h3>
    <div class="cards_double m_f_column">
      <div class="big_card flex" #bigCard1>
        <div class="content_car">
          <h5>Carlos en punto net</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt a odit, adipisicing elit. Nesciunt a
            odit,</p>
          <button class="btn_default">Aprender mas</button>
        </div>
        <div class="img_car"><img src="assets/img/icon/icon4.png" alt=""></div>
      </div>
      <div class="big_card flex" #bigCard2>
        <div class="content_car">
          <h5>Joel con angular</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt a odit, adipisicing elit. Nesciunt a
            odit, </p>
          <button class="btn_default">Aprender mas</button>
        </div>
        <div class="img_car"><img src="assets/img/icon/icon3.png" alt=""></div>
      </div>

    </div>
  </div>
</section>

<section class="section_about">
  <div class="container flex m_f_column">
    <div class="about_left" #aboutLeft>
      <div class="image_about">
        <img src="assets/img/resource/about1.png" alt="nosotros">
      </div>
    </div>
    <div class="about_right" #aboutRight>
      <h4 class="flex align-center"><i class="gg-path-front"></i> Sobre los certificados</h4>
      <h2>Negocio Top de Carlos</h2>
      <h3>Busca la ficha técnica</h3>
      <div class="wrp_p">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam harum, voluptatem minima pariatur dolores
          vitae soluta amet, facere eaque id tenetur veniam deleniti? Sapiente rem commodi culpa aliquam beatae porro?
        </p>
      </div>
      <div class="wrap_cards m_f_column">
        <div class="mini_card flex">
          <div class="img_mini_card"><img src="assets/img/icon/icon1.png" alt="icon"></div>
          <div class="label_mini_card">
            <h5>Sube tu ficha</h5>
            <h5>Técnica</h5>
          </div>
        </div>
        <div class="mini_card flex">
          <div class="img_mini_card "><img src="assets/img/icon/icon1.png" alt="icon"></div>
          <div class="label_mini_card">
            <h5>Sube tu ficha</h5>
            <h5>Técnica</h5>
          </div>
        </div>
      </div>
      <button class="btn flex align-center">Contáctanos <i class="gg-chevron-right-o"></i></button>
    </div>
  </div>
</section>
<section class="section_arrow">
  <div class="container flex flex-between align-center m_f_column" >
    <div #sectionArrow1>
      <div class="title_small flex">
        <div class="iconcito"><img src="assets/img/icon/iconcito.png" alt=""></div> Somos lo máximo
      </div>
      <div class="title_arrow">
        No jugamos carrito con nadie</div>
    </div>
    <div class="right_arrow flex align-center" #sectionArrow2>
      <div class="arrow">
        <img src="assets/img/resource/arrow.png" alt="">
      </div>
      <button class="btn">Ingresa</button>
    </div>
  </div>
</section>
<section class="section_blue ">
  <div class="container flex flex-between align-center m_f_column_rever">
    <div class="blue_left">
      <img src="assets/img/bg/chamo.png" alt="">
    </div>
    <div class="blue_right">
      <div class="blue_title1">Desde cualquier parte.</div>
      <div class="blue_title2">Algo productivo</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic blanditiis ducimus praesentium, natus
        laborum tenetur accusantium vitae unde debitis quam aliquid, accusamus ipsum quasi nisi quod? Quos, minima
        harum?</p>
      <div class="checks flex">
        <div class="check_item flex align-center"><i class="gg-check-o"></i>
          <div class="label">Una propiedad del negocio</div>
        </div>
        <div class="check_item flex align-center"><i class="gg-check-o"></i>
          <div class="label">Una propiedad del negocio</div>
        </div>
        <div class="check_item flex align-center"><i class="gg-check-o"></i>
          <div class="label">Una propiedad del negocio</div>
        </div>
        <div class="check_item flex align-center"><i class="gg-check-o"></i>
          <div class="label">Una propiedad del negocio</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_fichas">
  <div class="container">
    <h3>Características de fichas</h3>
    <div class="wrap_fichas flex flex-between">
      <div class="item_ficha" #itemFicha1>
        <div class="icon_ficha flex">
          <div class="box flex align-center">
            <i class="gg-database"></i>
          </div>
        </div>
        <h5>Caracteristica</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore
          tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore,
          accusantium nihil!</p>
      </div>
      <div class="item_ficha" #itemFicha2>
        <div class="icon_ficha flex">
          <div class="box flex align-center">
            <i class="gg-atlasian"></i>
          </div>
        </div>
        <h5>Caracteristica</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore
          tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore,
          accusantium nihil!</p>
      </div>
      <div class="item_ficha" #itemFicha3>
        <div class="icon_ficha flex">
          <div class="box flex align-center">
            <i class="gg-bell"></i>
          </div>
        </div>
        <h5>Caracteristica</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore
          tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore,
          accusantium nihil!</p>
      </div>
      <div class="item_ficha" #itemFicha4>
        <div class="icon_ficha flex">
          <div class="box flex align-center">
            <i class="gg-userlane"></i>
          </div>
        </div>
        <h5>Caracteristica</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis odit facilis ab voluptatum? Labore
          tempore magnam dolorum numquam dolore possimus necessitatibus est autem non, expedita iure, inventore,
          accusantium nihil!</p>
      </div>

    </div>

  </div>
</section>
<section class="section_form">
  <div class="container c_form">
    <h2>Contacto</h2>
    <h3>Envíanos tu consulta</h3>
    <div class="wrap_form">
      <form action="">
        <div class="section_two flex flex-between m_f_column">
          <input type="text" class="input_form" placeholder="Nombre">
          <input type="text" class="input_form" placeholder="Email">
        </div>
        <div class="section_two flex flex-between m_f_column">
          <input type="text" class="input_form" placeholder="Teléfono">
          <input type="text" class="input_form" placeholder="Empresa">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje..."></textarea>
      </form>
    </div>
    <div class="circle_blue" #circle_blue></div>
  </div>

</section>
<footer>
  <div class="container ">
    <div class="top_footer flex flex-between m_f_column">
      <div class="s_company">
        <div class="f_logo">
          <img src="assets/img/logo/logo_white.svg" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus a corrupti sapiente perferendis numquam?
          Qui
          adipisci ex et illum.</p>
        <div class="social">
          <h5 class="title_social">Síguenos</h5>
          <div class="s_media flex">
            <div class="box_soci center_all"><i class="gg-facebook"></i></div>
            <div class="box_soci center_all"><i class="gg-twitter"></i></div>
            <div class="box_soci center_all"><i class="gg-youtube"></i></div>
            <div class="box_soci center_all"><i class="gg-instagram"></i></div>
          </div>
        </div>
      </div>
      <div class="section_links">
        <h5 class="title_footer">Linkss</h5>
        <div class="wrap_links">
          <div class="item_link flex align-center"><i class="gg-arrow-right"></i> Inicio </div>
          <div class="item_link flex align-center"><i class="gg-arrow-right"></i> Fichas </div>
          <div class="item_link flex align-center"><i class="gg-arrow-right"></i> Seervicios </div>
          <div class="item_link flex align-center"><i class="gg-arrow-right"></i> entrar </div>
          <div class="item_link flex align-center"><i class="gg-arrow-right"></i> Contacto </div>
        </div>
      </div>
      <div class="section_contact">
        <h5 class="title_footer">Contacto</h5>
        <div class="item_contact flex align-center">
          <div class="box_icon">
            <i class="gg-calibrate"></i>
          </div>
          <div class="labels">
            <div class="label">Location</div>
            <p>Madrid cerca 55 gtm</p>
          </div>
        </div>
        <div class="item_contact flex align-center">
          <div class="box_icon">
            <i class="gg-mail"></i>
          </div>
          <div class="labels">
            <div class="label">Location</div>
            <p>Madrid cerca 55 gtm</p>
          </div>
        </div>
        <div class="item_contact flex align-center">
          <div class="box_icon">
            <i class="gg-phone"></i>
          </div>
          <div class="labels">
            <div class="label">Location</div>
            <p>Madrid cerca 55 gtm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="down_footer flex flex-between m_f_column">
      <div class="rights">
        © Todos los derechos reservados
      </div>
      <div class="terms flex m_f_column">
        <div class="it_terms"><a href="">Politicas de privacidad</a></div>
        <div class="it_terms"><a href="">Terminos y condiciones</a></div>
      </div>
    </div>
  </div>
</footer>